package base

import "github.com/fissilejonathan/time/view/page/layout/base/navbar"

templ Layout() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>time</title>
			<link rel="stylesheet" href="/public/css/styles.css"/>
			<link rel="icon" type="image/x-icon" href="/public/favicon.png"/>
			<script src="/public/script/htmx.min.js"></script>
		</head>
		<body class="bg-primary p-5">
			@navbar.Layout()
			{ children... }
		</body>
	</html>
}
