package base

templ Layout() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>time</title>
			<link rel="stylesheet" href="/public/css/styles.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
